<!DOCTYPE html>
<html>
  <head>
  	<title>Multivaders</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/socket.io/socket.io.js"></script>
    <script>

    var server = io.connect(window.location.hostname + ':' + window.location.port);
    </script>
  </head>
  <body>



    <section id="main">
      <header class="row">
        <div class="col-md-12">
          <h1 id="title">Multivaders</h1>
          <h5 class="centered note">(Work in progress)</h5>
        </div>
      </header>

      <div class="row separate-group" id="step1">
        <div class="col-md-4 col-md-offset-2">
          <h2>Please name here: <span class="note"></br>(press <i>enter</i> after name)</span></h2>
        </div>
        <div class="col-md-3">
          <input id="nameinput" type="text" class="inputBox" placeholder="you name..." maxlength="15">
        </div>
      </div>

<!--        <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <button id="nameBtn" class="btn btn-primary">Register name</button>
        </div>
      </div>  -->

      <div class="row separate-group inactive" id="step2">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <h2>Join game</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9 col-md-offset-1">
<!--               <ul id="gamesList">
                <li><span>Game name1</span><button class='joinGame' data-game='game-name1'>Join now!</button></li>
              </ul> -->
              <table class="table">
                <thead>
                  <tr>
                    <th>Game name</th>
                    <th>Hosted by</th>
                    <th>Join?</th>
                  </tr>
                </thead>
                <tbody id="gameslist">
                  <!-- <tr>
                    <td>Super game!</td>
                    <td>Megaman</td>
                    <td><button class='joinGame btn btn-default' data-game='game-name1'>Join now!</button></td>
                  </tr>
                  <tr>
                    <td>Super game!</td>
                    <td>Megaman</td>
                    <td><button class='joinGame btn btn-default' data-game='game-name2'>Join now!</button></td>
                  </tr> -->

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="row">
            <div class="col-md-5">
              <h2>Host game</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <input id="hostinput" type="text" class="inputBox" placeholder="you name first!" maxlength="15" readonly>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <p class="gameMsg"></p>
            </div>
          </div>
        </div>
      </div>


    <div id="step3">
      <div class="row">
        <div class="col-md-12">
          <h2>Found player, you play now?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 centered">
          <button id="readyToPlay" class="btn btn-success">Play NOW!!</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="gameMsg"></h3>
        </div>
      </div>
    </div>


    <div class="row gameArea">
      <div class="col-md-4 col-md-offset-2 gameButtons">
        <button id="resumeGame" class="btn btn-success">Resume game!</button>
        <button id="pauseGame" class="btn btn-danger">Pause game!</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="multivaders">
          <div class="endboard" style="display: none;">
            <div class="playerwins">
              Player
              <div class="playername">
                XXXXX
              </div>
              is the winners!
            </div>
          </div>
        </div>
      </div>
    <div class="row gameArea">
      <div class="col-md-5">
        <h3>Points: <span id="p1Points">0</span></h3>
      </div>
      <div class="col-md-5">
        <h3>Points: <span id="p2Points">0</span></h3>
      </div>
    </div>


    </section>


  	<div id="multivaders"></div>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  	<script type="text/javascript" src="/javascripts/bundle.js"></script>
  </body>
</html>
