html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  overflow-x: hidden;
}

a {
  color: #00B7FF;
}

.playerbox {
	border: solid 2px #fff;
	margin: 2px;
}



@keyframes wasShot {

	0% {
		opacity: 1;
	}

	25% {
		opacity: 0.2;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}

}

@-webkit-keyframes wasShot {

	0% {
		opacity: 1;
	}

	25% {
		opacity: 0.2;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}

}


.wasShot {
	-webkit-animation: wasShot 0.6s linear;
	animation: wasShot 0.6s linear;
	// animation-name: wasShot;
	// animation-duration: 0.6s;
	// animation-timing-function: linear;

}





body {
    background: #1A1A1A ;
    color: rgba(252, 252, 252, 1);
    padding: 50px;
    font: 12px gameFont, Helvetica;
    letter-spacing: -1px;
}

a {
  color: #00B7FF;
}

.playerbox {
	border: solid 3px #cecece;
}

.inputBox {
    height: 20px; 
    width: 100%; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: #fcfcfc; 
    outline:0; 
    color: rgba(252, 252, 252, 1);
    font-family: gameFont;

/*    border-radius: 3px;
    border: solid 2px #AD5675;
    color: #AD5675;
    box-shadow: none;
    width: 100%;
    height: 22px;
    font-size: 16px;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;*/
}

.inputBox[type=text] {
    padding: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}


.inputBox:focus,
.inputBox:hover,
.inputBox:active {
    /*background-color: rgba(0, 61, 245, 0.2);*/
    outline-width: 0;
}

::-webkit-input-placeholder /* WebKit browsers */ {
    color: #fcfcfc;
}
:-moz-placeholder /* Mozilla Firefox 4 to 18 */ {
    color: #fcfcfc;
}
::-moz-placeholder /* Mozilla Firefox 19+ */ {
    color: #fcfcfc;
}
:-ms-input-placeholder /* Internet Explorer 10+ */ {
    color: #fcfcfc;
}


#nameBtn {
    height:46px;
}

#step3, .gameArea {
    display: none;
}

section {
    margin-bottom: 30px;
}

@font-face
{
    font-family: gameFont;
    src: url(../fonts/prstart.ttf);
}

header {
    margin-bottom: 70px;
}

h1#title, h2, h3, h4, h5 {
    color: rgba(252, 252, 252, 1);
    font-family: gameFont;
    text-transform: uppercase;
    text-align: center;
}
h1#title {
    font-size: 50px;
}
h2 {
    font-size: 20px;
    letter-spacing: -1px;
    margin: 5px 0;
}
h3 {
    font-size: 16px;
}

.note {
    font-size: 14px;
    text-transform: lowercase;
}

#main {
    width: 1200px;
    margin: 0 auto;
}

.separate-group {
    margin-bottom: 50px;
}

ul {
    list-style: none;
}

.gameMsg {
    margin: 25px 0;
}

.centered {
    text-align: center;
}


/**********************************************************************
                                 STEP 2
***********************************************************************/
.inactive h2, .inactive .inputBox, .inactive table {
    color: rgba(252, 252, 252, 0.5);
}

.inactive .inputBox::-webkit-input-placeholder /* WebKit browsers */ {
    color: rgba(252, 252, 252, 0.5);
}
.inactive .inputBox:-moz-placeholder /* Mozilla Firefox 4 to 18 */ {
    color: rgba(252, 252, 252, 0.5);
}
.inactive ::-moz-placeholder /* Mozilla Firefox 19+ */ {
    color: rgba(252, 252, 252, 0.5);
}
.inactive :-ms-input-placeholder /* Internet Explorer 10+ */ {
    color: rgba(252, 252, 252, 0.5);
}



/**********************************************************************
                                 STEP 3
***********************************************************************/

#multivaders {
    position: relative;
}

.endboard {
    left: 250px;
    width: 500px;
    height: 350px;
    position: absolute;
    z-index: 500;
    top: 150px;
    background: #1A1A1A;
    border: solid 2px #cecece;
    padding: 20px;


}
.playerwins {
    font-size: 30px;

}
    .playername {
        color: #47a447;
        font-weight: bold;
    }




